[data-screen='gameIntro'] {
  max-width: 1000px;
  margin: 0 auto;
}

[data-screen='gameIntro'] .game-info {
  text-align: center;
  padding: 10px;
  border: 1px dashed #ccc;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
}

[data-screen='gameIntro'] .game-name {
  padding-bottom: 10px;
}

[data-screen='gameIntro'] .horse {
  height: 54px;
  width: 100px;
  margin-left: -100px;
  background-image: url(./images/horse_still_frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

[data-screen='gameIntro'] .tracks {
  margin-bottom: 20px;
}

[data-screen='gameIntro'] .tracks.hot .horse {
  background-image: url(./images/simple_cartoon_horse.gif);
  transition: all 1s linear;
}

[data-screen='gameIntro'] .track {
  border-bottom: 1px dashed #333;
  padding-top: 20px;
}

[data-screen='gameIntro'] .race-again {
  text-align: center;
}

[data-screen='gameIntro'] .race-again button {
  max-width: 200px;
  text-transform: capitalize;
}
