[data-screen='game'] {
  max-width: 1000px;
  margin: 0 auto;
}

[data-screen='game'] .game-info {
  text-align: center;
  padding: 10px;
  border: 1px dashed #ccc;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
}

[data-screen='game'] .game-name {
  padding-bottom: 10px;
}

[data-screen='game'] .crates {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

[data-screen='game'] .crates [data-crates] {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  justify-content: center;
  grid-template-rows: repeat(5, 60px);
  align-items: center;
}

[data-screen='game'] .crate {
  background-image: url(./images/crate.svg);
  width: 40px;
  height: 40px;
  background-size: cover;
}

[data-screen='game'] .crate.selected {
  border: 3px solid gold;
}

[data-screen='game'] .play-again {
  text-align: center;
}

[data-screen='game'] .play-again button {
  max-width: 200px;
  text-transform: capitalize;
}

[data-screen='game'] .player-list {
  border-top: 1px dashed #999;
  margin: 0 auto;
  padding-top: 30px;
  width: 320px;
}

[data-screen='game'] .player-list .player {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
}

[data-screen='game'] .player-list .player .player-name {
  font-weight: bold;
}

[data-group='player'] [data-screen='game'] .treasure-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  justify-content: center;
  grid-template-rows: repeat(1, 60px);
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

[data-screen='game'] .treasure {
  background-image: url(./images/gold.svg);
  width: 40px;
  height: 40px;
  background-size: cover;
}

[data-screen='game'] .player-list .treasure {
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
}

[data-screen='game'] .narrative {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  line-height: 24px;
}

[data-group='player'] [data-screen='game'] .commit-wrapper {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

[data-group='player'] [data-screen='game'] .commit-wrapper button {
  color: gold;
  width: 300px;
}
