[data-screen="footer"] {
  background-color: #fff;
  z-index: 777;
}

[data-screen="footer"] .wrapper {
  height: 50vh;
}

[data-screen="footer"] .sponsor-logo {
  background-image: url('./images/sponsor/yuengling_logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40vh;
  max-width: 80vw;
  margin: 0 auto;
}