[data-screen='footer'] {
  background-color: #222;
  z-index: 777;
  height: 100vh;
}

[data-screen='footer'] .trophy {
  background-image: url('./images/header/trophy.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20vh;
  position: absolute;
  top: 40%;
  left: 0;
  bottom: 0;
  right: 0;
}
