.game.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 80px 0;
}

.game.wrapper .meta {
  margin-bottom: 50px;
  text-align: center;
}

.game-title {
  color: #444;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.game-description {
  margin-bottom: 50px;
  font-size: 21px;
  color: #555;
}

@media (min-width: 576px) {
  .game-title {
    font-size: 36px;
  }
}

@media (min-width: 768px) {
  .game.wrapper .meta {
    margin-bottom: 0;
    text-align: left;
  }

  .game.wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .game-title {
    font-size: 38px;
  }
}

@media (min-width: 992px) {
  .game-title {
    font-size: 42px;
  }
}

@media (min-width: 1200px) {
}
