[data-screen='hide-and-seek'] {
  background-color: #fff;
  min-height: 200px;
}

[data-screen='hide-and-seek'] .crates {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  justify-content: center;
  grid-template-rows: repeat(5, 60px);
  align-items: center;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

[data-screen='hide-and-seek'] .treasure {
  background-image: url(images/hide-and-seek/gold.svg);
  width: 40px;
  height: 40px;
  background-size: cover;
}

[data-screen='hide-and-seek'] .crate {
  background-image: url(images/hide-and-seek/crate.svg);
  width: 40px;
  height: 40px;
  background-size: cover;
}

[data-screen='hide-and-seek'] .crate.open {
  opacity: 0.3;
}

[data-screen='hide-and-seek'] button {
  color: #cddc39;
}

@media (min-width: 576px) {
  [data-screen='hero'] {
    height: 250px;
  }
}

@media (min-width: 768px) {
  [data-screen='hero'] {
    height: 300px;
  }
}

@media (min-width: 992px) {
  [data-screen='hero'] {
    height: 350px;
  }
}

@media (min-width: 1200px) {
  [data-screen='hero'] {
    height: 400px;
  }
}
