[data-screen="landing"] .tiles {
  text-align: center;
  padding-top: 30vh;
}

[data-screen="landing"] .tile {
  box-sizing: border-box;
  border: 2px solid #000;
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

[data-screen="landing"] .tile .game-info {
  border-top: 1px solid #000;
  box-sizing: border-box;
  padding: 10px;
  width: 300px;
}

[data-screen="landing"] .tile .game-title {
  font-weight: 900;
  padding-bottom: 12px;
}

[data-screen="landing"] .tile .game-preview {
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

[data-screen="landing"] .tile .ride-the-pony {
  background-image: url('./images/ride-the-pony.gif');
}