[data-screen='ride-the-pony'] {
  background-color: #e1e1e1;
}

[data-screen='ride-the-pony'] .pony {
  background-image: url('./images/ride-the-pony/horse_still_frame.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 54px;
  width: 100px;
}

[data-screen='ride-the-pony'] .pony:nth-child(2) {
  filter: hue-rotate(270deg);
}

[data-screen='ride-the-pony'] .pony:nth-child(3) {
  filter: hue-rotate(135deg);
}

[data-screen='ride-the-pony'] .pony:nth-child(4) {
  filter: hue-rotate(225deg);
}

[data-screen='ride-the-pony'] button {
  color: red;
}
