[data-screen="ride-the-pony"] .wrapper {
  height: 50vh;
}

[data-screen="ride-the-pony"] .meta {
  padding-bottom: 30px;
  text-align: left;
  width: 50vw;
  margin: 0 auto;
  color: #777;
}

[data-screen="ride-the-pony"] .game-title {
  font-weight: bold;
}

[data-screen="ride-the-pony"] .game-teaser {
  background-image: url('./images/ride-the-pony/teaser.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40vh;
  max-width: 60vw;
  margin: 0 auto;
}

[data-screen="ride-the-pony"] button {
  color: red;
}