body {
  background-color: #fff;
  color: #333;
  font-family: Cinzel, Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a, button, input {
  font-family: Cinzel, Arial, Helvetica, sans-serif;
}

button {
  background-color: #222;
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 8px;
  color: gold;
  cursor: pointer;
  font-size: 21px;
  padding: 20px;
  text-shadow: 1px 2px #000;
  width: 100%;
}

input {
  box-sizing: border-box;
  font-size: 36px;
  margin-bottom: 40px;
  width: 100%;
}

label {
  font-size: 21px;
}

.hidden {
  display: none!important;
}

.invisible {
  visibility: hidden;
}

.spacer {
  border-bottom: 1px dashed #777;
  margin: 10px 0;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 500px;
  padding: 30px;
}

.button-wrapper {
  text-align: center;
  padding: 10px 0;
}

.container {
  padding-bottom: 30px;
}

.bold {
  font-weight: bold;
}

.bold.link {
  font-weight: 700;
  padding: 10px 0;
}